<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="login()">LOGIN</button>

  <button ion-button (click)="logout()">LOGOUT</button>
</ion-content>
